include README.md
include LICENSE.txt
include nonogram/res/default_values.json
include nonogram/res/entry_points_documentation.xml
include nonogram/res/global_variables.json
include nonogram/res/parameters_documentation.json
include nonogram/res/parameters_names.json
